

<head>
<meta charset=utf-8 />
<title>DB Team PROJECT </title>
</head>
<body>
  <h3 class="text-primary text-center"> DB 팀 프로젝트 <a href = https://database-project-astrocket.c9users.io/admin >바로가기 </a></h3>
  
    <div class="text-center">
      <td> <%= pie_chart ServiceUsing.group(:name).count(:core) %></td>
      <td > Core</td>
      <hr>
    </div>
        
    <div class="text-center">
      <td> <%= pie_chart Storage.group(:number).count %></td>
      <td > Grapj2</td>
      <hr>
      </div>
        
    <div class="text-center">
      <td> <%= pie_chart Storage.group(:number).count %></td>
      <td > Grap3</td>
      <hr>
      </div>
</body>